resources/views/components/tabs.blade.php
resources/views/components/dashboard/edit-dashboard.blade.php
resources/views/printing/order/final-invoice.blade.php
**mail**
/node_modules
/public
/vendor
/storage
.DS_Store
Thumbs.db
