includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    bootstrapFiles:
        - tests/PHPStan/bootstrap.php
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    databaseMigrationsPath:
        - database/migrations
