@import "/node_modules/@fontsource/inter/latin-300.css";
@import "/node_modules/@fontsource/inter/latin-400.css";
@import "/node_modules/@fontsource/inter/latin-600.css";
@import "/node_modules/@fontsource/inter/latin-900.css";
@import "/node_modules/leaflet/dist/leaflet.css";
@import "/node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";

@import '/node_modules/gridstack/dist/gridstack.min.css';
@import '/node_modules/gridstack/dist/gridstack-extra.min.css';

@import "/node_modules/filepond/dist/filepond.css";
@import "/node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer components {
    .indent-icon {
        @apply after:content-['↳'];
    }

    .indent-icon::before {
        @apply pr-1;
    }

    .sortable-chosen {
        @apply !border-dashed border-2 !border-primary-500 !bg-primary-100;
    }

    .sortable-selected {
        @apply !border-dashed border-2 !border-primary-500 !bg-primary-100;
    }

    .sortable-to {
        @apply !border-dashed border-2 !border-primary-500 !bg-primary-100;
    }

    .text-secondary-400, .text-gray-400 {
        @apply text-gray-200;
    }

    .dropdown-full-w > div:first-child {
        @apply w-full;
    }

    input:read-only {
        @apply bg-gray-50;
    }

    input[type="checkbox"]:disabled {
        @apply text-gray-400;
    }

    textarea:read-only {
        @apply bg-gray-50;
    }

    .content-editable-placeholder:empty:before {
        content: attr(placeholder);
        @apply pointer-events-none text-secondary-400;
    }

    .prose-xs {
        @apply text-xs;
    }

    #map {
        @apply h-96 z-0;
    }

    .mention {
        @apply rounded-md bg-primary-100 text-primary-500 p-1;
    }

    .tippy-box {
        @apply w-full rounded-t-md sm:rounded-xl border border-secondary-200 bg-white shadow-lg dark:bg-secondary-800 dark:border-secondary-600 transition-all relative overflow-hidden pointer-events-auto;
    }

    .suggestion-item {
        @apply py-2 px-3 focus:outline-none ease-in-out duration-150 relative text-secondary-600 dark:text-secondary-400 flex items-center justify-between cursor-pointer focus:bg-primary-100 focus:text-primary-800 hover:text-white dark:focus:bg-secondary-700 hover:bg-primary-500 dark:hover:bg-secondary-700;
    }

    [x-cloak] {
        display: none !important;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        @apply p-4 mb-0;
    }

    .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-top a {
        @apply bg-indigo-600 text-white font-semibold rounded-full;
    }

    .fc-day {
        @apply bg-white text-gray-800 dark:bg-secondary-800;
    }

    .fc-day.fc-day-other {
        @apply bg-gray-50 text-gray-500 dark:bg-secondary-700;
    }

    .fc-daygrid-day-top {
        @apply text-gray-700 text-sm;
    }

    .fc-h-event {
        @apply opacity-75 hover:opacity-100;
    }

    .fc-button {
        @apply !capitalize;
    }

    .fc-scrollgrid  {
        @apply !border-l-0 !border-b-0 !border-r-0 !border-gray-200;
    }

    .fc-col-header-cell .fc-scrollgrid-sync-inner {
        @apply py-2 font-semibold;
    }

    .fc-col-header-cell-cushion {
        @apply dark:text-white
    }

    .fc-event-time {
        @apply dark:text-white
    }

    .fc-event-title {
        @apply dark:text-white
    }

    .fc-daygrid-day-number {
        @apply dark:text-white
    }

    .fc-theme-standard td, .fc-theme-standard th, .fc-theme-standard .fc-scrollgrid {
        @apply border dark:border-slate-600;
    }
}

.grid-stack {
    @apply w-full
}

.grid-stack-item-content {
    @apply flex place-content-center col-span-full dark:text-gray-50 m-0 rounded-lg shadow-md bg-white dark:bg-secondary-800;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    @apply overflow-hidden;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-700 rounded;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

