@import '/node_modules/@fontsource/inter/latin-300.css';
@import '/node_modules/@fontsource/inter/latin-400.css';
@import '/node_modules/@fontsource/inter/latin-600.css';
@import '/node_modules/@fontsource/inter/latin-900.css';
@import '/node_modules/leaflet/dist/leaflet.css';
@import '/node_modules/leaflet.markercluster/dist/MarkerCluster.css';
@import '/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css';

@import '/node_modules/gridstack/dist/gridstack.min.css';
@import '/node_modules/gridstack/dist/gridstack-extra.min.css';
@import './components/grid-stack.css';
@import './components/apex-charts.css';
@import './components/full-calendar.css';

@import '/node_modules/@phosphor-icons/web/src/regular/style.css';

@import '/node_modules/filepond/dist/filepond.css';
@import '/node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer components {
    .indent-icon {
        @apply after:content-['↳'];
    }

    .indent-icon::before {
        @apply pr-1;
    }

    .sortable-chosen {
        @apply !border-primary-500 border-2 !border-dashed !bg-indigo-100;
    }

    .sortable-selected {
        @apply !border-primary-500 border-2 !border-dashed !bg-indigo-100;
    }

    .sortable-to {
        @apply !border-primary-500 border-2 !border-dashed !bg-indigo-100;
    }

    .text-secondary-400,
    .text-gray-400 {
        @apply text-gray-200;
    }

    .dropdown-full-w > div:first-child {
        @apply w-full;
    }

    input:read-only {
        @apply dark:bg-secondary-600 bg-gray-50;
    }

    input[type='checkbox']:disabled {
        @apply text-gray-400;
    }

    textarea:read-only {
        @apply dark:bg-secondary-600 bg-gray-50;
    }

    .content-editable-placeholder:empty:before {
        content: attr(placeholder);
        @apply text-secondary-400 pointer-events-none;
    }

    .prose-xs {
        @apply text-xs;
    }

    #map {
        @apply z-0 h-96;
    }

    .mention {
        @apply text-primary-500 rounded-md bg-indigo-100 p-1;
    }

    .tippy-box {
        @apply border-secondary-200 dark:border-secondary-600 dark:bg-secondary-800 pointer-events-auto relative w-full overflow-hidden rounded-t-md border bg-white shadow-lg transition-all sm:rounded-xl;
    }

    .suggestion-item {
        @apply text-secondary-600 focus:text-primary-800 dark:text-secondary-400 dark:hover:bg-secondary-700 dark:focus:bg-secondary-700 relative flex cursor-pointer items-center justify-between px-3 py-2 duration-150 ease-in-out hover:bg-indigo-500 hover:text-white focus:bg-indigo-100 focus:outline-none;
    }
}

.sortable-ghost {
    @apply !border-primary-500 border-2 !border-dashed !bg-indigo-100 !opacity-75;
}
